<div *ngIf="user" class="container" style="margin-top: 40px">
  <div class="card" style="width: 100%">
    <div class="card-body">
      <div class="row">
        <div class="col-4" style="text-align: center">
          <img
            *ngIf="user.avatar"
            [src]="user.avatar"
            class="card-img-top img-thumb"
            [alt]="user.first_name"
          />
          <h5 class="card-title">{{ user.first_name }}</h5>
        </div>
        <div class="col-8">
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            sodales tellus vitae ornare rutrum. Duis nec leo aliquam, convallis
            nisi eu, semper mauris. Quisque scelerisque facilisis orci, vel
            accumsan turpis. Maecenas varius metus augue, vitae varius felis
            porttitor at. Sed quis eleifend velit. Phasellus nec arcu mattis,
            pellentesque purus id, commodo quam. Phasellus pulvinar posuere
            euismod. Nam viverra mi in mauris facilisis sollicitudin. Nullam eu
            ipsum sollicitudin, congue risus sit amet, vestibulum mi. Maecenas
            ante nulla, auctor eu urna iaculis, tempor vulputate justo. Mauris
            fringilla urna nec ipsum rutrum pellentesque.
          </p>
          <a [routerLink]="['/home']" class="btn btn-primary">User List</a>
        </div>
      </div>
    </div>
  </div>
</div>
